<html>
    <head>
        <title>Gym</title>
        {{> imports path='../' }}
        <link href="../stylesheets/fixtures.style.css" rel="stylesheet">
        <script>
            var exerciseCount = 2;
            var tempArray = [];
            var arrayProtoType;
        </script>
    </head>
    <body>
        <div id="page-container">
            <form method="POST" id="form" style="display:none" action="/dashboard/noticeboard">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <input type="hidden" name="team" value="{{team._id}}">
                <input type="hidden" name="player" value="{{user._id}}">
            </form>
            {{> navbar signedIn=true path='../' }}
            {{> sub-navbar }}
            <section class="defaultContainer" id="forum">
                <div class="container" style="margin-top: 130px">
                    <center>
                        <h2 class="fixt">Workouts</h2>
                    </center>
                    <div class="container-md" id="fixturesmain">
                        {{#if user.userType}}
                            <form style="width:1100px;" id="exerciseForm" action="/dashboard/gym" method="POST">
                                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                                <input type="hidden" id="reqcontent" name="reqcontent" value="">
                                <table class="resultsAndFix" id="exercises">
                                    <tr>
                                        <td>
                                            <input id="exerciseName1" type="text" name="name" placeholder="Exercise" value="">
                                        </td>
                                        <td>
                                            <input id="exerciseSets1" type="text" name="sets" placeholder="Sets" value="">
                                        </td>
                                        <td>
                                            <input id="exerciseReps1" type="text" name="reps" placeholder="Reps" value="">
                                        </td>
                                        <td>
                                            <input id="exerciseWeight1" type="text" name="weight" placeholder="Weight" value="">
                                        </td>
                                    </tr>
                                </table>
                                <center>
                                    <button style=" width:250px" id="appendexercise" type="button" class="button">Add Exercise <i class="fas fa-plus"></i>
                                    </button>
                                    <button style="margin-left:20px; width:250px" id="submitworkout" type="button" class="button">Submit Workout <i class="fas fa-dumbbell"></i>
                                    </button>
                                </center>
                            </form>
                        {{/if}}
                        <center>
                            {{#each exerciseArr}}
                                <table class="contactTab">
                                    <tr>
                                        <th> Exercise </th>
                                        <th> Sets </th>
                                        <th> Reps </th>
                                        <th> Weight </th>
                                    </tr>
                                    {{#each exercises}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.sets}} </td>
                                            <td>{{this.reps}} </td>
                                            <td>{{this.weight}}</td>
                                        </tr>
                                    {{/each}}
                                </table>
                            {{/each}}
                        </center>
                    </div>
            </section>
            {{> footer }}
        </div>
    </body>
</html>