<html>
    <head>
        <title>Settings</title>
        {{> imports path='../' }}
    </head>
    <body onload="setSettingsJersey('{{team.col1}}','{{team.col2}}','{{team.jerseyType}}')">
        <div id="page-container">
            <form method="POST" id="form" style="display:none" action="/dashboard/noticeboard">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <input type="hidden" name="team" value="{{team._id}}">
                <input type="hidden" name="player" value="{{user._id}}">
            </form>
            {{> navbar signedIn=true path='../' }}
            {{> sub-navbar }}
            <section class="defaultContainer" style="margin-top: 60px" style="background-color:#f8f9fa" id="createTeam">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <h2>Team Settings</h2>
                            <br>
                        </div>
                    </div>
                    {{#if msg}}
                        <div class="alert">
                            <h4> {{msg}} </h4>
                        </div>
                    {{/if}}
                    <form action="/dashboard/settings" method="POST">
                        <div class="form-group row">
                            <label for="teamName" class="col-4 col-form-label">Team Name</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-soccer-ball-o"></i>
                                        </div>
                                    </div>
                                    <input id="teamName" name="teamName" type="text" value="{{team.teamName}}" required="required" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="teamName" class="col-4 col-form-label">Manager Name</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user-alt"></i>
                                        </div>
                                    </div>
                                    <input id="managerName" name="managerName" type="text" placeholder="{{user.name}}" readonly class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="addr1" class="col-4 col-form-label">Address 1</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-address-card"></i>
                                        </div>
                                    </div>
                                    <input id="addr1" name="addr1" type="text" value="{{team.addr1}}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="addr2" class="col-4 col-form-label">Address 2</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-address-card-o"></i>
                                        </div>
                                    </div>
                                    <input id="addr2" name="addr2" type="text" value="{{team.addr2}}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="county" class="col-4 col-form-label">County</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                    </div>
                                    <input id="county" name="county" type="text" value="{{team.county}}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phNum" class="col-4 col-form-label">Phone Number</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                    <input id="phNum" name="phNum" type="text" value="{{team.phNum}}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-4 col-form-label">Email Address</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                    <input id="email" name="email" type="text" value="{{team.email}}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="teamType" class="col-4 col-form-label">Team Type</label>
                            <div class="col-8">
                                <input id="type" type="text" placeholder="{{team.teamType}}" readonly class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="teamType" class="col-4 col-form-label">Team Jersey</label>
                            <div class="col-8">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="jerDiv">
                                                <img id="preJer" class="jerPic" src="../images/jerOverlay.png">
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <select id="jerseyType" name="jerseyType" style="width:470px" class="custom-select">
                                                <option value="1">Vertical Stripes</option>
                                                <option value="5">Horizontal Stripes</option>
                                                <option value="2">Gradient Left to Right</option>
                                                <option value="3">Gradient Right to Left</option>
                                                <option value="4">Whole Colour</option>
                                                <option value="6">Horizontal Divide</option>
                                                <option value="7">Vertical Divide</option>
                                                <option value="8">One Horizontal Stripe</option>
                                                <option value="9">Sleeves Divide</option>
                                            </select>
                                            <br>
                                            <br>
                                            <input type="color" name="col1" id="col_1" value="{{team.col1}}" />
                                            <input type="color" name="col2" id="col_2" style="margin-left: 10px" value="{{team.col2}}" />
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <div id="buttonArea">
                                    <input type="submit" style="margin-right: 20px" class="button" value="Save Changes" />
                                    <button type="button" class="button">
                                        <a style="color: white" href="/dashboard/settings/delete">Delete Team <i class="fas fa-trash"></i>
                                        </a>
                                    </button>
                                </div>
                                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                                <input type="hidden" name="id" value="{{team._id}}" />
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            {{> footer }}
        </div>
    </body>
</html>